*{margin:0; padding:0;}
a {color:inherit; text-decoration: none;}
img {border:none; max-width: 100%;}
li {list-style-type: none;}
body {font:12px arial, sans-serif; color:#333; background: url(../images/bg.png) repeat 0 0;}
.inner {width:1182px; margin:auto;}
.col50 {width:50%;}.col51 {width:51%;}.col49 {width:49%;}.full-section,.full-inner {width: 100%;}
.left {float:left;}.right {float: right;}
.arrow-left {background: url(../images/arrow-l.png) no-repeat 0 0; width:19px; height: 38px; position: absolute; top:10%; left: -19px;}
.arrow-right {background: url(../images/arrow-r.png) no-repeat 0 0; width:19px; height: 38px; position: absolute; top:10%; right: -19px;}
.arrow-top {background: url(../images/arrow-top.png) no-repeat 0 0; width: 19px;  height: 9px; position: absolute; top:-9px; right:-33px;}
.button {display: inline-block; border-radius: 3px; padding:0 30px 0 25px; background: url(../images/arrow-button.png) no-repeat 86px center; line-height: 33px; height: 33px; text-transform: uppercase;color:#fff;}
.blue {background-color: #005bac;}
.orange {background-color: #ff6634;}
.darkred {background-color: #c4302c;}
.blue-non {height: 31px; line-height: 31px; background-color: #fff; border:2px solid #03aaf0;color:#03aaf0; background-image:url(../images/arrow-button-nb.png); }
#header {background: #fff; height: 69px; padding-top: 49px;}
#header .logo {display: inline-block;}
.menu {float: right;}
.menu ul li {float: left; position: relative;padding:0 15px; }
.menu ul li a {text-transform: uppercase; font-weight: bold; line-height: 30px; display: inline-block;}
.menu ul li:hover a {border-bottom: 2px solid #00529c;}
.menu ul li .sub-menu {display: none; position: absolute;}
.menu ul li:hover .sub-menu {display: block;}