@import "_variables.scss";
@import "_modules.scss";

#header {background: #fff; height: 68px; padding-top: 49px;}
#header .logo {display: inline-block; padding-left: 37px;}
.menu {float: right; padding-right: 35px;
	ul li {float: left; position: relative;padding:12px 15px 36px; z-index: 3;font-family: $IrisAzoBold;
		&.menu-icon {line-height: 30px;
			img {vertical-align: middle;}
			&:hover a {border-bottom: 0}
		}
		a {text-transform: uppercase; line-height: 30px; display: inline-block; font-size: 14px;}
		>a {border-bottom: 3px solid #fff; white-space: nowrap;}
		&:hover,&.acitve {
			> a {border-bottom: 3px solid $blue;}
			.sub-menu {display: block}
		}
		&.brand-menu:hover > a {border-bottom: 3px solid $darkred;}
		&.new-menu:hover > a {border-bottom: 3px solid $orange;}
		.sub-menu {padding-left: 5px; padding-top: 5px; display: none;
		 position: absolute; right:16px; top:78px; min-width: 297px; height: 163px; background: url(../images/sub-menu.png) repeat 0 0; box-shadow:1px 1px 5px 0px rgba(0, 0, 0, 0.15);}
	}
}

.sub-menu .sm-item {clear: both; padding-left: 137px;
	> a {padding:0 5px; display: block; line-height: 28px; position: relative; z-index: 1; white-space: nowrap;}
	.sm-content { display: none; left:5px; position: absolute; z-index: 0; top:5px;font-family: $Arial;
		p {margin:10px 5px 5px; clear: both;}
		img {width:126px; height: 106px;}
	}
	&.active .sm-content,&:hover .sm-content {display: block;}
	a:hover,&.active a{color:#fff; background: $blue;}
}
.brand-menu .sub-menu .sm-item {
	a:hover,&.active a {background: $darkred;}
}
.new-menu .sub-menu .sm-item {
	a:hover,&.active a {background: $orange;}
}
.flexslider .slides li { position: relative;
	.flex-caption {background: url(../images/caption.png) repeat 0 0;padding:59px 32px 10px 45px; height: 387px;
	 float: left; width:333px;color:#fff; @include box-sizing(border-box);position: absolute; left:38px; top:0;
		h1 {margin-bottom: 16px; line-height: 34px; font-size: 28px;}
		p {line-height: 16px; margin-bottom: 75px; font-size: 14px;}
		img {width: auto;}
	}
}
.note {background: #fff; height: 162px; text-align: center;
	.inner {border-bottom: 5px solid #929292; height: 100%;}
	.note-content {width:706px; margin:0 auto; padding-top: 28px;
		p {font-weight: bold; font-size: 16px; padding-left: 51px; padding-top: 10px;}
		img {float: left; padding-top: 16px; padding-right: 15px;}
		h1 {padding-top: 23px; text-align: left;padding-left: 80px;font-style: italic; color:#005aab; font-size: 22px; font-family: "Palatino Linotype", arial, sans-serif;}
		a.readmore {float: right; margin-right: 39px; margin-top: 6px; font-size: 13px; white-space: nowrap;}
	}
}
.box.home-full { margin-top: 63px; margin-bottom: 27px;
	.text{width: 24.9%; height: 522px;
		.arrow-right {top:60px;}
		h1.title-box { line-height: 38px; font-size: 28px;}
	}
	> .image {width:52.7%; float: left;
		img {height: 522px;}
	}
	.right-box {width:22.4%; float: right;
		.orange {width: 85.6%; float: left; color:#fff; text-align: center; height: 190px; @include box-sizing(border-box); padding: 43px 20px;
			h3 {font-size: 20px; font-weight: normal; margin-bottom: 20px;}
			p {font-size: 14px; line-height: 19px;}
		}
		.image {float: left;
			img {height: 262px;}
		}
	}
} 
.join-text {margin-bottom: 9px; text-align: center; @extend .clearfix;
	h1 {line-height: 54px;}
}
.social {background: #034988; height: 180px; color:#fff;
	.inner {background: url(../images/map.png) no-repeat 117px 0; padding-top: 36px; @include box-sizing(border-box); height: 100%;
		.col25 { font-size: 14px;float: left; @include box-sizing(border-box); width:216px; margin-left: 34px; margin-right: 42px;
			.icon {font: bold 18px $IrisAzo; background: url(../images/social.png) no-repeat 0 0; display: block; padding-left:50px; height: 40px; line-height: 34px; margin-bottom: 5px;
				&.fb-icon {background-position: 0 0;}
				&.tw-icon {background-position: 0 -78px;}
				&.plus-icon {background-position: 0 -153px;}
				&.yu-icon {background-position: 0 -228px;}
			}
			p {line-height: 19px; padding-left: 3px;}
			a.link {color: #00aeef; display: block; padding-left: 3px;}
			&:last-child {margin-right: 0}
		}
	}
}
.top-footer {background: #034988; height: 53px;}
#footer { background: #162b59; height: 187px; @include box-sizing(border-box); padding-top: 14px; color:#cccccc;
	.inner {
		.footer-col {width: 158px; border-right:1px solid #666666;padding-left: 37px; float: left; min-height: 131px;
			h3.title {color:#33ccff; font-size: 18px;line-height: 22px; margin-top: 10px;}
			ul li { font-size: 14px; line-height: 22px;}
		}
	 }
}
.search-footer { float: left; padding-left: 40px; padding-top: 23px;
	input {@include border-radius(4px); height: 33px; line-height: 33px\9;padding-left: 10px; padding-right: 7px; width:200px;float: left; border:none; position: relative;}
	.search-button { height: 33px; line-height: 33px; background: url(../images/search-button.png) no-repeat center center #000; border: none; text-indent: -99999px; width:50px; @include border-radius(4px); margin-left: -5px;}
	p.copyright {display: block; margin-top: 23px; font-size: 13px; float: left;}
}
/* Overview page */
.overview .full-inner{margin-bottom: 34px}
.overview-banner {background: url(../images/o-banner.jpg) no-repeat 0 0; margin-bottom: 58px; 
	.left-title {background: url(../images/bg-black.png) 0 0 repeat; width: 369px;
		h1 {color:#fff;}
	}
}
.overview-full {
	.text {width:541px; height: 370px;} 
	.image {width:641px;
		img {height: 424px;}
	}
}
.overview1046 {width: 1046px; margin-left: 37px; margin-bottom: 11px;
	.image { width:540px;
		img {height: 423px}
	}
	.text {width: 506px; height: 423px;}
}
.overview996 {width: 996px; margin-left: 148px; margin-bottom: 9px;
	.image { width:568px; overflow:hidden;height: 324px;
		img {height: 324px}
	}
	.text {width: 428px; height: 370px}
}
/* History page */
.history-banner {background-image: url(../images/h-banner.jpg); margin-bottom: 0}
.history-note { background: #fff;height: 225px; margin-bottom: 64px;
	.inner {height: 100%;
		.text { width:886px; margin:auto; text-align: justify;
			h1 {padding-top: 30px; padding-bottom: 20px;}
			p {font-size: 14px; line-height: 19px;}
		}
	}
}
.history .full-inner {margin-bottom: 10px}
.history-box { 
	.text {padding-top: 80px; min-height: 370px; height: auto;
		h1.history-title {font-size: 22px; font-weight: normal; margin-bottom: 18px; line-height: 30px;}
		&:after {display: block; background: $blue; width:89px; height: 3px; content:""; position: absolute; bottom:20px; left: 36px;}
	}
}
.history-box.box2014 { 
	.text:after {background-color: #b69558;}
} 
.history-box.box2013 { margin-top: 53px;
	.text:after {background-color: #fbcb38;}
}
.history-box.box2011 {
	.image {margin-top: 45px;}
}
.history-box.box2010 {
	.text {
		&:after {background-color: #4f2b1c;}
	}
}
.history-box.box2009 {
	.text:after {background-color: $blue1;}
}
.history-box.box2008 { margin-top: 92px;
	.image {margin-top: 45px;}
	.text {
		.arrow-right {top:84px;}
	}
}
.history-box.box2007 {
	margin-top: -56px;
}
.history-box.box-last {/* height: 361px; */ background: #034988;@extend .clearfix;
	margin-bottom: 40px; position: relative;
	.box-year {/* background: #034988; width:273px; */ height: 81px;/* position: absolute; bottom:0; left:-273px; */
		h1 {/* float: right; */ color:#fff; margin-top: 20px; font-weight: normal; 
			font-size: 22px; margin-right: 38px; padding:28px 0 0 36px;
			span {color:#0099ff}
		}
	}
	.text { width:100%; background: #034988; color:#fff; height: 100%; padding-top: 10px;
		&:after {background: #999999; }
		h2 {font:normal 14px $Arial;}
		h1 {color:#00aeef;}
	}
}
/* News page */
.group-page #header .inner{@extend .border-bottom5;height: 100%;}
.group-news {margin-top: 65px;}
.group-full {  width: 1144px;
	.text {width: 503px; height: 387px;
		h1 {font-size: 28px;}
		.date{width: 260px;}
	}
	.image {
		img {width:641px;height: 387px;}
	}
	&.box-video { float: right; background: #fff;  
		.video {float: left; max-width:606px; margin-top:31px; height: 325px;}
	}
} 
.group-full.first {float:right;}
.group-news .top-footer {margin-top: 50px;}
/* Brands pages */
.brand-banner {background:url(../images/brand-banner.jpg) no-repeat right 0;
	.left-title {background: #000; width: 236px; color: #fff;}
}	
.brand-box1 {width:1108px; margin:auto;
	.image {width: 540px; 
		img {height: 424px;}
	}
	.text {width:567px;}
	.know-box {bottom:-27px; right:-37px;}
}
.brand-box2 {margin-left: 92px;
	.image {width: 567px; 
		img {height: 333px; margin-top: 37px;}
	}
	.text {width:484px;}
	.know-box {top:0; left:484px;}
}
.brand-box3 {margin-left: 92px;
	.image {width: 451px; 
		img {height: 404px; }
	}
	.text {width:457px;}
	.know-box {top:0; right:0px;}
}
.brand-box4 {float: right;
	.image {width: 525px; 
		img {height: 370px; }
	}
	.brand-logo {text-align: right;}
	.text {width:430px;}
	.know-box {top:0; left:-225px; background-color: #231f20;}
}
/* Product page */
.product-banner {background: url(../images/product-banner.jpg) no-repeat right 0;}
.product-box1 {
	.image {width: 576px;
		img {height: 401px;}
	}
	.text {width: 575px;}
}
.product-box2 {
	.image {width: 567px;
		img {height: 396px;}
	}
	.text {width: 484px; margin-left: 93px; margin-top: 26px;}
	.other {width: 422px;}
}
.product-box3 {
	.image {width: 568px;
		img {height: 370px;}
	}
	.text {width: 577px;}
}
.product-box4 {width: 1061; margin: auto;
	.text {width: 457px;
		.other {width: 386px;}
	}
	.image {width:603px;
		img {height: 404px;}
	}
}
.brand .top-footer, .product .top-footer {margin-top: 45px;}
/* Product Detail 1*/
.detail-banner {height: 288px; width: 100%;}
.detail-wrapper { width: 1109px;@include box-sizing(border-box);  margin: -64px auto 55px; padding:28px 53px 29px 111px; background: #fff; position: relative; z-index: 1;}
.breadcrumb {@extend .clearfix;margin-bottom: 20px;
	li{float: left; border-right:1px solid #333; margin-right: 5px; padding-right: 5px; font-size: 14px;
		&:last-child{border: none;}
	}
}
.content-pr1 .sidebar{min-height: 817px; margin-right: 37px;}
.content-detail {
	.sidebar{width:152px; float: left; min-height: 311px;}
	.right-content {float: left; width: 756px;
		.col-left{width: 395px;display: inline-block; vertical-align: top; margin-right: 60px;
			>img {position: relative; left: -184px;max-width: 1109px;}
			&.text-left {margin-left: -186px; width: 580px;}
			&.line-left {width: 514px;
				.color-line {margin-left: -186px;}
			}
			&.big-news-d {width: 260px;
				&.text-left {width: 400px}
			}
		}
		.col-right{display: inline-block; vertical-align: top;width: 297px;
			>img {right: -20px; position: relative; max-width: 1109px;}
			&.big-news-d {width: 432px;}
		}
		.no-margin.col-left,.no-margin.col-right{
			img{ position: static;}
		}
	}
	h1.title {margin-bottom: 40px; }
	h3 { font-size: 16px; padding-bottom: 5px;}
	h2 {font-size: 20px; margin-bottom: 20px; margin-top: 10px;}
	p {margin-bottom: 20px; font-size: 14px; line-height: 19px;}
}
.share { float: right; @extend .clearfix; margin-right: 60px; width: 300px; margin-top: 40px;
	.title{font-size: 14px; margin-right: 16px; float: left; line-height: 28px;}
	li{float: left; margin-right: 15px; 
		img{width: 28px; vertical-align: middle;}
		&:last-child{margin-right: 0;}
	}
}
/* News new */
.news {margin-top:30px; }
.top-nmenu {padding-left: 69px; position: relative;z-index: 10; @extend .clearfix; margin-bottom: 26px;
	h1 {display: block; border-bottom: 3px solid #999;padding-bottom: 15px; font-size: 28px;}
}
.nmenu {float: right;
	li {
		a {font-size: 14px; background: #fff; display: block; padding:6px 10px 6px 22px;
			&:hover {background: #666; color: #fff;}
		}
		.sub-menu {position: absolute; left:0; top:100%; width: 100%;}
	}
	>li { float: left; min-width: 181px; margin-left: 10px;position: relative;
		>a {overflow: hidden;}
		>i {float: right; cursor: pointer; background: url(../images/arr-down.png) no-repeat center center;
			width: 35px; height: 28px; display: inline-block;
		}
	} 
}
.flat-news { margin-bottom: 50px;
	.full-inner {@extend .clearfix; margin:0 -10px 30px;}
	.col {float: left; padding: 0 10px; height: 297px;@include box-sizing(border-box);position: relative;
		&:last-child{padding-right: 0;}
		.inner-news {position: relative;}
		img {width: 100%; height: 297px;}
		.caption {width: 100%; padding-left: 22px;z-index: 2;
			position: absolute;bottom:-23px; left:0px; right:0;@include box-sizing(border-box);
			.caption-inner {background: #fff; padding:10px 15px 17px 14px;}
			i[class^="icon"] {background: url(../images/icon-n.png) no-repeat 0 0; display: inline-block; width: 24px;
			 height:21px; vertical-align: middle; padding-right: 3px; }
			h3.cat {margin-bottom: 14px; font-size: 11px; 
				text-transform: uppercase; font-weight: normal; 
				font-family: $Arial;}
			p {font:16px/20px $IrisAzoBold; }
			p.hover-display {font:14px $IrisAzo normal;  height: 0px; display: block; 
				overflow: hidden;
				 -webkit-transition: all 0.6s ease;
				-moz-transition: all 0.6s ease;
				-o-transition: all 0.6s ease;
				transition: all 0.6s ease;
				span.divider {width: 50px;height: 1px;display: block;margin-bottom: 5px;
					background-color: #363636;margin-top: 12px;}
				span.date {color: #7b7b7b;line-height: 20px; }
				a.readmore {color: #2182b9; font-weight: bold; display: block; line-height: 17px;
					margin-top: 7px;
				}
			}
			&:after {content: ""; display: block; width: 100%; height: 3px;}
			i.icon-cty {background-position: 0 -55px;}
			i.icon-sp1 {background-position: 0 -100px;}
			&:hover {
				p.hover-display {height: 63px;}
			}
		}
	}
	.bignews {width:40%; }
	.smallnews {width: 20%;
		.caption  {
			.caption-inner  {padding-right: 5px;}
		}
	}
}
.images-lib {max-width: 944px; margin-bottom: 60px;
	.flexslider {
		.slides {
			li {
				.flex-caption { color: #333;
					width: 100%; height: auto; background: #fff; padding:15px 30px; 
					position: static;font-size: 13px;
					p {margin:0;}
				}
			}
		}
	} 
}
#carousel {background-color: #666666; padding:17px; position: relative; overflow: hidden;
	box-sizing: border-box; 
	&:after {position: absolute; content: ""; background-color: #005aab; height: 2px; width: 220px;
		bottom:-2px; left:50%; margin-left: -110px;
	}
	li {float: left;margin:0 10px; 
		img {width: 132px; height: 85px;
		}
		&.flex-active-slide {
			img {border:2px solid #005baa;width: 128px; height: 81px; }
			
		}
	}
}
.video-detail {max-width: 944px; margin-bottom: 60px;
	h3.title {font-size: 16px;  margin-top: 15px; margin-left: 30px;}
}