/* Media queries breakpoints */
@font-face { font-family: 'iris_azo'; src: url("../fonts/Iris_Azo.otf");
  /*  src: url('../fonts/iris_azo-webfont.eot'); src: url('../fonts/iris_azo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iris_azo-webfont.woff2') format('woff2'), url('../fonts/iris_azo-webfont.woff') format('woff'), url('../fonts/iris_azo-webfont.ttf') format('truetype'), url('../fonts/iris_azo-webfont.svg#iris_azo') format('svg'); */
  font-weight: normal; font-style: normal; }
@font-face { font-family: 'iris_azo_bold'; src: url("../fonts/Iris_Azo_Bold.otf");
  /* src: url('../fonts/iris_azo_bold-webfont.eot'); src: url('../fonts/iris_azo_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iris_azo_bold-webfont.woff2') format('woff2'), url('../fonts/iris_azo_bold-webfont.woff') format('woff'), url('../fonts/iris_azo_bold-webfont.ttf') format('truetype'), url('../fonts/iris_azo_bold-webfont.svg#iris_azo_bold') format('svg'); */
  font-weight: normal; font-style: normal; }
* { margin: 0; padding: 0; }

a { color: inherit; text-decoration: none; }

img { border: none; max-width: 100%; }

li { list-style-type: none; }

body { font: 13px Arial, sans-serif; color: #333; background: url(../images/bg.png) repeat 0 0; position: relative; }

h1, h2, h3, h4, h5 { font-family: "iris_azo_bold", Arial, sans-serif; font-weight: normal; line-height: 1.22; }

h1 { font-size: 21px; line-height: 26px; }

p { font-size: 13px; line-height: 16px; }

.inner { width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 0 10px; }

.col50 { width: 100%; }

.col51 { width: 100%; }

.col49 { width: 100%; }

.full-section, .full-inner { width: 100%; }

.left { float: left; }

.right { float: right; }

.arrow-left { background: url(../images/arrow-mb1.png) no-repeat 0 0; width: 35px; height: 18px; position: absolute; top: -18px; left: 50%; margin-left: -17px; }

.arrow-right { background: url(../images/arrow-mb.png) no-repeat 0 0; width: 35px; height: 18px; position: absolute; bottom: -18px; right: 50%; margin-left: -17px; }

.arrow-top { background: url(../images/arrow-top.png) no-repeat 0 0; width: 19px; height: 9px; position: absolute; top: -9px; right: 33px; }

.button { display: inline-block; white-space: nowrap; border-radius: 2px; padding: 0 23px 0 18px; background: url(../images/arrow-button.png) no-repeat right center; line-height: 24px; height: 24px; font-size: 11px; text-transform: uppercase; color: #fff; font-family: "iris_azo_bold", Arial, sans-serif; }

.blue { background-color: #005bac; }

.blue1 { background-color: #00a9e9; }

.blue2 { background-color: #00a8a9; }

.orange { background-color: #ff6634; }

.orange1 { background-color: #fdb913; }

.darkred { background-color: #c4302c; }

.wood { background-color: #b69558; }

.blue-non { height: 31px; line-height: 31px; background-color: #00aeef; color: #fff; border: 2px solid #fff; }
.blue-non:hover { background: url(../images/arrow-button-nb.png) 86px center no-repeat white; border: 2px solid #00a9e9; color: #00a9e9; }

.clear { clear: both; }

.clearfix:after, .full-section:after, .full-inner:after, .box:after, .join-text:after, .social .inner:after, .history-box.box-last:after, .breadcrumb:after, .share:after, .top-nmenu:after, .flat-news .full-inner:after { content: ""; display: table; clear: both; }

.box { margin-bottom: 10px; }
.box .text { background: #fff; position: relative; padding: 15px 10px 72px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.box .text p { font-size: 14px; line-height: 19px; }
.box .text p.source { margin-top: 20px; }
.box .text .other { position: absolute; bottom: 17px; left: 10px; white-space: nowrap; }
.box .text .other .more-link { font-size: 11 px; text-transform: uppercase; color: #666666; text-decoration: none; font-family: "iris_azo", Arial, sans-serif; margin-left: 9px; }
.box .image img { width: 100%; }

h1.title-box { margin-bottom: 18px; font-size: 22px; line-height: 30px; }
h1.title-box:after { height: 2px; width: 72px; content: ""; display: block; margin-top: 13px; }

.orange-line:after { background-color: #ff6634; }

.blue-line:after { background-color: #005bac; }

.blue1-line:after { background-color: #00a9e9; }

.blue2-line:after { background-color: #00a8a9; }

.darkred-line:after { background-color: #c4302c; }

.wood-line:after { background-color: #b69558; }

.wood1-line:after { background-color: #d2ac67; }

.white-line:after { background-color: #fff; }

.orange1-line:after { background-color: #fdb913; }

.top-banner { height: 225px; }
.top-banner .left-title { height: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding-top: 60px; padding-left: 82px; }
.top-banner .left-title h1 { font-size: 28px; }

.detail-banner img { margin-top: -13px; }

.border-bottom5, .group-page #header .inner { border-bottom: 5px solid #929292; }

.year-label { text-align: center; background: url(../images/year-label.png) no-repeat 0 0; width: 90px; height: 55px; position: absolute; top: 0; left: 36px; color: #fff; }
.year-label h1 { font-size: 22px; font-weight: normal; line-height: 40px; }
.year-label h1 span { color: #0099ff; }

.video { position: relative; z-index: 1; }
.video video { max-width: 100%; max-height: 100%; }
.video .overlay { z-index: 99; position: absolute; background: url(../images/video-overlay.png) repeat 0 0; width: 100%; height: 100%; text-align: center; }
.video .overlay button { outline: none; position: absolute; top: 50%; left: 50%; border: none; text-indent: -99999px; background: url(../images/video-icon.png) 0 0; margin-top: -20px; margin-left: -20px; width: 40px; height: 40px; display: inline-block; vertical-align: middle; cursor: pointer; }
.video .overlay button.pause { background-position: 0 bottom; }

.history-box.box-video .video { width: 100%; float: right; }
.history-box.box-video .text { margin-top: -103px; width: 100%; clear: both; padding-top: 140px; height: 299px; }

.group-box .text { padding-top: 0; }
.group-box .text .date { border-bottom: 1px solid #999; height: 45px; margin-bottom: 15px; }
.group-box .text .date p { line-height: 55px; font-size: 15px; font-weight: bold; }

.brand-box { position: relative; }
.brand-box .text { height: 370px; }
.brand-box .text h1.title-box { font-size: 28px; }
.brand-box .brand-logo img { display: block; margin-bottom: 35px; }
.brand-box .right-box { position: absolute; }

.know-box { width: 100%; float: left; color: #fff; text-align: center; height: 190px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 43px 20px; position: absolute; bottom: -27px; right: -37px; }
.know-box h3 { font-size: 20px; font-weight: normal; margin-bottom: 20px; }
.know-box p { font-size: 14px; line-height: 19px; }

.product-box .other { width: 100%; }

.color-line { width: 100%; height: 3px; vertical-align: top; }

.catalog { margin-top: 60px; }
.catalog a { font-size: 14px; }
.catalog img { border: 1px solid #bbb; margin-bottom: 20px; }
.catalog h3 { margin-bottom: 5px; }

#header { background: #fff; height: 51px; background: #fff; border-bottom: 1px solid #d3d4d6; width: 100%; font-family: "proxima_novasemibold",arial,sans-serif; position: fixed; top: 0; left: 0; z-index: 1000; }
#header .logo { padding-left: 65px; padding-top: 15px; }
#header .logo img { width: 236px; max-height: 100%; }

#home-slider .flex-direction-nav { display: none; }

.flexslider .slides li { position: relative; }
.flexslider .slides li .flex-caption { background: #000; padding: 15px 21px 20px; width: 100%; color: #fff; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.flexslider .slides li .flex-caption h1 { margin-bottom: 16px; }
.flexslider .slides li .flex-caption p { line-height: 16px; margin-bottom: 25px; }
.flexslider .slides li .flex-caption img { width: auto; }

.note { background: #fff; height: 140px; text-align: center; }
.note .inner { border-bottom: 5px solid #929292; height: 100%; }
.note .note-content { padding: 10px; }
.note .note-content p { font-weight: bold; padding-left: 51px; padding-top: 10px; text-align: center; }
.note .note-content img { float: left; padding-top: 16px; padding-right: 15px; }
.note .note-content h1 { padding-top: 13px; text-align: center; padding-left: 67px; font-style: italic; color: #005aab; line-height: 20px; font-size: 17px; font-family: "Palatino Linotype", arial, sans-serif; }
.note .note-content a.readmore { float: left; margin-right: 39px; font-size: 13px; white-space: nowrap; display: block; width: 100%; text-align: left; }

#home-content { margin-top: 10px; }

.box.home-full .text { padding-bottom: 40px; }
.box.home-full .text .other { position: static; padding-bottom: 20px; }
.box.home-full .right-box { width: 100%; margin-top: -50px; position: relative; }
.box.home-full .right-box .orange { width: 225px; float: right; color: #fff; text-align: center; padding: 15px 10px 20px; }
.box.home-full .right-box .orange h3 { font-size: 17px; font-weight: normal; font-family: "iris_azo", Arial, sans-serif; }
.box.home-full .right-box .image img { width: auto; }

.join-text { margin-bottom: 9px; text-align: center; }

.social { background: #034988; color: #fff; }
.social .inner { background: url(../images/map.png) no-repeat 117px 0; padding-top: 36px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; height: 100%; }
.social .inner .col25 { font-size: 14px; float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 216px; margin-left: 34px; margin-right: 42px; }
.social .inner .col25 .icon { font: bold 18px "iris_azo", Arial, sans-serif; background: url(../images/social.png) no-repeat 0 0; display: block; padding-left: 50px; height: 40px; line-height: 34px; margin-bottom: 5px; }
.social .inner .col25 .icon.fb-icon { background-position: 0 0; }
.social .inner .col25 .icon.tw-icon { background-position: 0 -78px; }
.social .inner .col25 .icon.plus-icon { background-position: 0 -153px; }
.social .inner .col25 .icon.yu-icon { background-position: 0 -228px; }
.social .inner .col25 p { line-height: 19px; padding-left: 3px; }
.social .inner .col25 a.link { color: #00aeef; display: block; padding-left: 3px; }
.social .inner .col25:last-child { margin-right: 0; }

.top-footer { background: #034988; height: 53px; }

#footer { background: #162b59; height: 187px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding-top: 14px; color: #cccccc; }
#footer .inner .footer-col { width: 158px; border-right: 1px solid #666666; padding-left: 37px; float: left; min-height: 131px; }
#footer .inner .footer-col h3.title { color: #33ccff; font-size: 18px; line-height: 22px; margin-top: 10px; }
#footer .inner .footer-col ul li { font-size: 14px; line-height: 22px; }

.search-footer { float: left; padding-left: 40px; padding-top: 23px; }
.search-footer input { border-radius: 4px; height: 33px; line-height: 33px\9; padding-left: 10px; padding-right: 7px; width: 200px; float: left; border: none; position: relative; }
.search-footer .search-button { height: 33px; line-height: 33px; background: url(../images/search-button.png) no-repeat center center black; border: none; text-indent: -99999px; width: 50px; border-radius: 4px; margin-left: -5px; }
.search-footer p.copyright { display: block; margin-top: 23px; font-size: 13px; float: left; }

/* Overview page */
.overview .full-inner { margin-bottom: 34px; }

.overview-banner { background: url(../images/o-banner.jpg) no-repeat 0 0; margin-bottom: 58px; }
.overview-banner .left-title { background: url(../images/bg-black.png) 0 0 repeat; width: 369px; }
.overview-banner .left-title h1 { color: #fff; }

.overview-full .text { width: 100%; height: 370px; }
.overview-full .image { width: 100%; }
.overview-full .image img { height: 424px; }

.overview1046 { width: 100%; margin-left: 37px; margin-bottom: 11px; }
.overview1046 .image { width: 100%; }
.overview1046 .image img { height: 423px; }
.overview1046 .text { width: 100%; height: 423px; }

.overview996 { width: 100%; margin-left: 148px; margin-bottom: 9px; }
.overview996 .image { width: 100%; overflow: hidden; height: 324px; }
.overview996 .image img { height: 324px; }
.overview996 .text { width: 100%; height: 370px; }

/* History page */
.history-banner { background-image: url(../images/h-banner.jpg); margin-bottom: 0; }

.history-note { background: #fff; height: 225px; margin-bottom: 64px; }
.history-note .inner { height: 100%; }
.history-note .inner .text { width: 100%; margin: auto; text-align: justify; }
.history-note .inner .text h1 { padding-top: 30px; padding-bottom: 20px; }
.history-note .inner .text p { font-size: 14px; line-height: 19px; }

.history .full-inner { margin-bottom: 10px; }

.history-box .text { padding-top: 80px; min-height: 370px; height: auto; }
.history-box .text h1.history-title { font-size: 22px; font-weight: normal; margin-bottom: 18px; line-height: 30px; }
.history-box .text:after { display: block; background: #005bac; width: 89px; height: 3px; content: ""; position: absolute; bottom: 20px; left: 36px; }

.history-box.box2014 .text:after { background-color: #b69558; }

.history-box.box2013 { margin-top: 53px; }
.history-box.box2013 .text:after { background-color: #fbcb38; }

.history-box.box2011 .image { margin-top: 45px; }

.history-box.box2010 .text:after { background-color: #4f2b1c; }

.history-box.box2009 .text:after { background-color: #00a9e9; }

.history-box.box2008 { margin-top: 92px; }
.history-box.box2008 .image { margin-top: 45px; }
.history-box.box2008 .text .arrow-right { top: 84px; }

.history-box.box2007 { margin-top: -56px; }

.history-box.box-last { /* height: 361px; */ background: #034988; margin-bottom: 40px; position: relative; }
.history-box.box-last .box-year { /* background: #034988; width:273px; */ height: 81px; /* position: absolute; bottom:0; left:-273px; */ }
.history-box.box-last .box-year h1 { /* float: right; */ color: #fff; margin-top: 20px; font-weight: normal; font-size: 22px; margin-right: 38px; padding: 28px 0 0 36px; }
.history-box.box-last .box-year h1 span { color: #0099ff; }
.history-box.box-last .text { width: 100%; background: #034988; color: #fff; height: 100%; padding-top: 10px; }
.history-box.box-last .text:after { background: #999999; }
.history-box.box-last .text h2 { font: normal 14px Arial, sans-serif; }
.history-box.box-last .text h1 { color: #00aeef; }

/* News page */
.group-page #header .inner { height: 100%; }

.group-news { margin-top: 65px; }

.group-full { width: 100%; }
.group-full .text { width: 100%; height: 387px; }
.group-full .text h1 { font-size: 28px; }
.group-full .text .date { width: 260px; }
.group-full .image img { width: 100%; height: 387px; }
.group-full.box-video { float: right; background: #fff; }
.group-full.box-video .video { float: left; max-width: 100%; margin-top: 31px; height: 325px; }

.group-full.first { float: right; }

.group-news .top-footer { margin-top: 50px; }

/* Brands pages */
.brand-banner { background: url(../images/brand-banner.jpg) no-repeat right 0; }
.brand-banner .left-title { background: #000; width: 236px; color: #fff; }

.brand-box1 { width: 100%; margin: auto; }
.brand-box1 .image { width: 100%; }
.brand-box1 .text { width: 100%; }
.brand-box1 .know-box { bottom: -27px; right: -37px; }

.brand-box2 { margin-left: 92px; }
.brand-box2 .image { width: 100%; }
.brand-box2 .image img { margin-top: 37px; }
.brand-box2 .text { width: 100%; }
.brand-box2 .know-box { top: 0; left: 484px; }

.brand-box3 { margin-left: 92px; }
.brand-box3 .image { width: 100%; }
.brand-box3 .text { width: 100%; }
.brand-box3 .know-box { top: 0; right: 0px; }

.brand-box4 { float: right; }
.brand-box4 .image { width: 100%; }
.brand-box4 .brand-logo { text-align: right; }
.brand-box4 .text { width: 100%; }
.brand-box4 .know-box { top: 0; left: -225px; background-color: #231f20; }

/* Product page */
.product-banner { background: url(../images/product-banner.jpg) no-repeat right 0; }

.product-box1 .image { width: 100%; }
.product-box1 .text { width: 100%; }

.product-box2 .image { width: 100%; }
.product-box2 .text { width: 100%; margin-left: 93px; margin-top: 26px; }
.product-box2 .other { width: 100%; }

.product-box3 .image { width: 100%; }
.product-box3 .text { width: 100%; }

.product-box4 { width: 100%; margin: auto; }
.product-box4 .text { width: 100%; }
.product-box4 .text .other { width: 100%; }
.product-box4 .image { width: 100%; }

.brand .top-footer, .product .top-footer { margin-top: 45px; }

/* Product Detail 1*/
.detail-banner { height: 288px; width: 100%; }

.detail-wrapper { width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; margin: -64px auto 55px; padding: 28px 53px 29px 111px; background: #fff; position: relative; z-index: 1; }

.breadcrumb { margin-bottom: 20px; }
.breadcrumb li { float: left; border-right: 1px solid #333; margin-right: 5px; padding-right: 5px; font-size: 14px; }
.breadcrumb li:last-child { border: none; }

.content-pr1 .sidebar { min-height: 817px; margin-right: 37px; }

.content-detail .sidebar { width: 152px; float: left; min-height: 311px; }
.content-detail .right-content { float: left; width: 100%; }
.content-detail .right-content .col-left { width: 100%; display: inline-block; vertical-align: top; margin-right: 60px; }
.content-detail .right-content .col-left > img { position: relative; left: -184px; max-width: 1109px; }
.content-detail .right-content .col-left.text-left { margin-left: -186px; width: 100%; }
.content-detail .right-content .col-left.line-left { width: 100%; }
.content-detail .right-content .col-left.line-left .color-line { margin-left: -186px; }
.content-detail .right-content .col-left.big-news-d { width: 260px; }
.content-detail .right-content .col-left.big-news-d.text-left { width: 100%; }
.content-detail .right-content .col-right { display: inline-block; vertical-align: top; width: 297px; }
.content-detail .right-content .col-right > img { right: -20px; position: relative; max-width: 100%; }
.content-detail .right-content .col-right.big-news-d { width: 432px; }
.content-detail .right-content .no-margin.col-left img, .content-detail .right-content .no-margin.col-right img { position: static; }
.content-detail h1.title { margin-bottom: 40px; }
.content-detail h3 { font-size: 16px; padding-bottom: 5px; }
.content-detail h2 { font-size: 20px; margin-bottom: 20px; margin-top: 10px; }
.content-detail p { margin-bottom: 20px; font-size: 14px; line-height: 19px; }

.share { float: right; margin-right: 60px; width: 300px; margin-top: 40px; }
.share .title { font-size: 14px; margin-right: 16px; float: left; line-height: 28px; }
.share li { float: left; margin-right: 15px; }
.share li img { width: 28px; vertical-align: middle; }
.share li:last-child { margin-right: 0; }

/* News new */
.news { margin-top: 30px; }

.top-nmenu { padding-left: 69px; position: relative; z-index: 10; margin-bottom: 26px; }
.top-nmenu h1 { display: block; border-bottom: 3px solid #999; padding-bottom: 15px; font-size: 28px; }

.nmenu { float: right; }
.nmenu li a { font-size: 14px; background: #fff; display: block; padding: 6px 10px 6px 22px; }
.nmenu li a:hover { background: #666; color: #fff; }
.nmenu li .sub-menu { position: absolute; left: 0; top: 100%; width: 100%; }
.nmenu > li { float: left; min-width: 181px; margin-left: 10px; position: relative; }
.nmenu > li > a { overflow: hidden; }
.nmenu > li > i { float: right; cursor: pointer; background: url(../images/arr-down.png) no-repeat center center; width: 35px; height: 28px; display: inline-block; }

.flat-news { margin-bottom: 50px; }
.flat-news .full-inner { margin: 0 -10px 30px; }
.flat-news .col { float: left; padding: 0 10px; height: 297px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; position: relative; }
.flat-news .col:last-child { padding-right: 0; }
.flat-news .col .inner-news { position: relative; }
.flat-news .col img { width: 100%; height: 297px; }
.flat-news .col .caption { width: 100%; padding-left: 22px; z-index: 2; position: absolute; bottom: -23px; left: 0px; right: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.flat-news .col .caption .caption-inner { background: #fff; padding: 10px 15px 17px 14px; }
.flat-news .col .caption i[class^="icon"] { background: url(../images/icon-n.png) no-repeat 0 0; display: inline-block; width: 24px; height: 21px; vertical-align: middle; padding-right: 3px; }
.flat-news .col .caption h3.cat { margin-bottom: 14px; font-size: 11px; text-transform: uppercase; font-weight: normal; font-family: Arial, sans-serif; }
.flat-news .col .caption p { font: 16px/20px "iris_azo_bold", Arial, sans-serif; }
.flat-news .col .caption p.hover-display { font: 14px "iris_azo", Arial, sans-serif normal; height: 0px; display: block; overflow: hidden; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease; }
.flat-news .col .caption p.hover-display span.divider { width: 50px; height: 1px; display: block; margin-bottom: 5px; background-color: #363636; margin-top: 12px; }
.flat-news .col .caption p.hover-display span.date { color: #7b7b7b; line-height: 20px; }
.flat-news .col .caption p.hover-display a.readmore { color: #2182b9; font-weight: bold; display: block; line-height: 17px; margin-top: 7px; }
.flat-news .col .caption:after { content: ""; display: block; width: 100%; height: 3px; }
.flat-news .col .caption i.icon-cty { background-position: 0 -55px; }
.flat-news .col .caption i.icon-sp1 { background-position: 0 -100px; }
.flat-news .col .caption:hover p.hover-display { height: 63px; }
.flat-news .bignews { width: 40%; }
.flat-news .smallnews { width: 20%; }
.flat-news .smallnews .caption .caption-inner { padding-right: 5px; }

.images-lib { max-width: 944px; margin-bottom: 60px; }
.images-lib .flexslider .slides li .flex-caption { color: #333; width: 100%; height: auto; background: #fff; padding: 15px 30px; position: static; font-size: 13px; }
.images-lib .flexslider .slides li .flex-caption p { margin: 0; }

#carousel { background-color: #666666; padding: 17px; position: relative; overflow: hidden; box-sizing: border-box; }
#carousel:after { position: absolute; content: ""; background-color: #005aab; height: 2px; width: 220px; bottom: -2px; left: 50%; margin-left: -110px; }
#carousel li { float: left; margin: 0 10px; }
#carousel li img { width: 132px; height: 85px; }
#carousel li.flex-active-slide img { border: 2px solid #005baa; width: 128px; height: 81px; }

.video-detail { max-width: 944px; margin-bottom: 60px; }
.video-detail h3.title { font-size: 16px; margin-top: 15px; margin-left: 30px; }

/* mobile */
#open-menu { background: url("../images/menu-icon.png") no-repeat scroll center center #f1f1f1; border-right: 2px solid #d3d4d6; cursor: pointer; display: inline-block; height: 51px; position: fixed; top: 0; width: 51px; z-index: 1001; transition-duration: 0.6s; }

.sidr { transition-duration: 0.6s; width: 268px; position: absolute; position: fixed; top: 0; left: 0; height: 100%; z-index: 999999; overflow-x: none; overflow-y: auto; font-size: 15px; background: #FFFFFF; color: #333; -webkit-box-shadow: inset 0 0 5px 5px #ebebeb; -moz-box-shadow: inset 0 0 5px 5px #ebebeb; box-shadow: inset 0 0 5px 5px #ebebeb; -ms-transform: translate3d(-268px, 0px, 0px); -webkit-transform: translate3d(-268px, 0px, 0px); transform: translate3d(-268px, 0px, 0px); }
.sidr.open { display: block; }
.sidr ul { display: block; margin: 0 0 15px; padding: 0; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #fff; }
.sidr ul li { position: relative; display: block; margin: 0; line-height: 48px; border-top: 1px solid #fff; border-bottom: 1px solid #dfdfdf; }
.sidr ul li a { padding: 0 15px; display: block; text-decoration: none; color: #333; }
.sidr ul li i { width: 24px; height: 24px; padding: 12px 20px; position: absolute; right: 0; top: 0; cursor: pointer; }
.sidr ul li i.menu-arrow-side { background: url("../images/mobile-arrow-side-icon.png") no-repeat center; }
.sidr ul li i.menu-arrow { background: url("../images/mobile-arrow-icon.png") no-repeat center; }
.sidr ul li ul { display: none; border-bottom: none; margin: 0; }
.sidr ul li ul li { line-height: 40px; font-size: 13px; }
.sidr ul li ul li a { color: rgba(51, 51, 51, 0.8); padding-left: 30px; padding-right: 50px; background: #f2f2f2; }
.sidr ul li ul li:last-child { border-bottom: none; }

.transform-right { -ms-transform: translate3d(268px, 0px, 0px); -webkit-transform: translate3d(268px, 0px, 0px); transform: translate3d(268px, 0px, 0px); }

.transform-left { -ms-transform: translate3d(0, 0px, 0px); -webkit-transform: translate3d(0, 0px, 0px); transform: translate3d(0, 0px, 0px); }
