@mixin box-sizing($val) {box-sizing: $val; -moz-box-sizing: $val; -webkit-box-sizing: $val;}
@mixin border-radius($radius) {border-radius: $radius;}
*{margin:0; padding:0;}
a {color:inherit; text-decoration: none;}
img {border:none; max-width: 100%;}
li {list-style-type: none;}
body {font:13px $Arial; color:#333; background: url(../images/bg.png) repeat 0 0; width: 100%;padding-top: 52px;}
h1, h2, h3, h4, h5 {font-family: $IrisAzoBold;font-weight: normal;line-height: 1.22; }
h1 {font-size: 21px; line-height: 26px;}
h3 {font-size: 16px; line-height: 22px;}
p {font-size: 13px; line-height: 16px;}
.inner {width:100%;@include box-sizing(border-box); padding:0 10px;}
.full-section,.full-inner {@extend .clearfix;}
.arrow-left {background: url(../images/arrow-mb1.png) no-repeat 0 0; width:35px;
 height: 18px; position: absolute; top:-18px; left: 50%; margin-left: -17px}
.arrow-right {background: url(../images/arrow-mb.png) no-repeat 0 0; width:35px;
 height: 18px; position: absolute; bottom:-18px; right: 50%;margin-left: -17px}
.arrow-top {background: url(../images/arrow-top.png) no-repeat 0 0; width: 19px;  height: 9px; position: absolute; top:-9px; right:33px;}
.button {display: inline-block;white-space: nowrap;
 @include border-radius(2px); padding:0 23px 0 18px;
	background: url(../images/arrow-button.png) no-repeat right center; 
	line-height: 24px; height: 24px;font-size: 11px;
	text-transform: uppercase;color:#fff; font-family: $IrisAzoBold;}
.blue {background-color: $blue;}
.blue1 {background-color: $blue1;}
.blue2 {background-color: $blue2;}
.orange {background-color: $orange;}
.orange1 {background-color: $orange1;}
.darkred {background-color: $darkred;}
.wood {background-color: $wood;}
.blue-non {background-color: #00aeef; color: #fff;
	&:hover { background:url(../images/arrow-button-nb.png) 86px center no-repeat #fff; border:2px solid $blue1;
	color:$blue1;}
}
.clear {clear:both;}
.clearfix:after {content: "";display: table;clear: both;}
.box {margin-bottom: 10px;
	@extend .clearfix;
	.text{background: #fff; position: relative; z-index: 1;
		padding:15px 10px 72px; @include box-sizing(border-box); 
		p { line-height: 19px;}
		p.source {margin-top: 20px;}
		.other {position:absolute;bottom:17px; left:10px; white-space: nowrap;
			.more-link {font-size: 11px; text-transform: uppercase; color:#666666; text-decoration: none; font-family: $IrisAzo; margin-left: 9px;}
		}
	}
	.image {
		img {width: 100%;}
	}
}

h1.title-box { margin-bottom: 18px; font-size: 22px; line-height: 30px;
	&:after {height: 2px; width: 72px; content:""; display: block; margin-top: 13px;}
}
.orange-line:after {background-color: $orange;}
.blue-line:after {background-color: $blue;}
.blue1-line:after {background-color: $blue1;}
.blue2-line:after {background-color: $blue2;}
.darkred-line:after {background-color: $darkred;}
.wood-line:after {background-color: $wood;}
.wood1-line:after {background-color: $wood1;}
.white-line:after {background-color: #fff;}
.orange1-line:after {background-color: $orange1;}
.main-content {margin-top: 20px;}
.top-banner {height: 225px;overflow: hidden;
	.left-title {height: 100%; @include box-sizing(border-box);background: url(../images/bg-black.png) 0 0 repeat; width: 50%;
	 	padding-top: 60px; padding-left: 10px;
	 	h1 {color:#fff;}
	}
}
.border-bottom5 {border-bottom: 3px solid #929292; }
.year-label {text-align: center; background: url(../images/year-label.png) no-repeat 0 0;
 width:74px; height: 45px; background-size: 74px auto; position: absolute; top:0; 
 left:16px; color:#fff;
	h1 { font-size: 18px; font-weight: normal; line-height: 32px;font-family: $IrisAzo;
		span {color:#0099ff;}
	} 
}
.video { position: relative; z-index: 1; 
	video {width: 100%; }
	.overlay {z-index: 99; position: absolute;  width: 100%; height: 100%; text-align: center;
		button {outline: none; position: absolute; top: 50%; left:50%; border:none; text-indent: -99999px; background: url(../images/video-icon.png) 0 0; margin-top: -20px; margin-left: -20px; width:40px; height: 40px; display: inline-block;vertical-align: middle; cursor: pointer;
			&.pause {background-position: 0 bottom;}
		}
	}
	&.hide {
		.overlay {background: none !important}
	}
}
.group-box {
	.text {padding-top: 0;
		.date {border-bottom: 1px solid #999; height: 45px; margin-bottom: 15px;
			p {line-height: 55px;font-size: 15px; font-weight: bold; }
		}
	} 
}
