@import "_variables.scss";
@import "_modules.scss";

#header {background: #fff; height: 51px;background: #fff;border-bottom: 1px solid #d3d4d6;
		width: 100%;
		font-family: "proxima_novasemibold",arial,sans-serif;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	.logo {padding-left:65px;padding-top: 15px;
		img {width: 236px; max-height: 100%;}
	}
}
#home-slider {
	.flex-direction-nav {display: none;}
}
.flexslider .slides li { position: relative;
	.flex-caption {background: #000;
		padding:15px 21px 20px;
	 	width:100%;color:#fff; @include box-sizing(border-box);
		h1 {margin-bottom: 16px;  }
		p {line-height: 16px; margin-bottom: 25px; }
		img {width: auto;}
	}
}
.note {background: #fff; height: 140px; text-align: center;
	.inner {border-bottom: 5px solid #929292; height: 100%;}
	.note-content {padding:10px;
		p {font-weight: bold; padding-left: 51px; padding-top: 10px; text-align: center;}
		img {float: left; padding-top: 16px; padding-right: 15px;}
		h1 {padding-top: 13px; text-align: center;padding-left: 67px;font-style: italic; 
			color:#005aab;line-height: 20px; font-size: 17px; font-family: "Palatino Linotype", arial, sans-serif;}
		a.readmore {float: left; margin-right: 39px;  font-size: 13px;
		 white-space: nowrap;display: block; width: 100%; text-align: left; margin-top: 10px;}
	}
}
#home-content {margin-top: 10px;}
.box.home-full { 
	.text {padding-bottom: 40px;
		.other {position: static;padding-bottom: 20px;}
	}
	.right-box {width:100%; margin-top: -50px; position: relative;z-index: 1;
		.orange {width: 225px; float: right; color:#fff; text-align: center; @include box-sizing(border-box);
			 padding: 15px 10px 20px;
			h3 {font-size: 17px; font-weight: normal; font-family: $IrisAzo;}
		}
	}
} 
.join-text {margin-bottom: 9px; text-align: center; @extend .clearfix;
}
.social {background: #034988;color:#fff;
	.inner {@extend .clearfix;background: url(../images/map.png) no-repeat 117px 0; 
		padding-top: 36px; @include box-sizing(border-box); height: 100%;
		.col25 { float: left; @include box-sizing(border-box); 
			width:216px; margin-left: 10px;position: relative;margin-bottom: 15px;
			padding-bottom: 20px;
			&:after {content: ""; width: 131px; height: 1px; background: #fff; position: absolute; bottom: 0; left:0;}
			@media (max-width: 470px) {
				&:last-child {
					&:after {content: none;}
				}
			}
			.icon {font: bold 16px $IrisAzo; background: url(../images/social.png) no-repeat 0 0;
			 display: block; padding-left:40px; height: 40px; line-height: 29px; margin-bottom: 5px;
			 background-size: 30px auto;
				&.fb-icon {background-position: 0 0;}
				&.tw-icon {background-position: 0 -57px;}
				&.plus-icon {background-position: 0 -113px;}
				&.yu-icon {background-position: 0 -170px;}
			}
			p {line-height: 19px; padding-left: 3px;}
			a.link {color: #00aeef; display: block; padding-left: 3px; margin-top: 5px;}
			&:last-child {margin-right: 0}
		}
	}
}
.top-footer {background: #034988; height: 53px;}
#footer { background: #162b59; @include box-sizing(border-box); color:#cccccc;
	@extend .clearfix; padding:14px 0 30px;
	.inner {
		.footer-col {width: 158px;position: relative;margin-left: 10px;
		 float: left;  padding-bottom: 10px; margin-bottom: 5px;
		 	&:after {content: ""; width: 131px; height: 1px; background: #fff; position: absolute; bottom: 0; left:0;}
			@media (max-width: 458px) {
				&:last-child,&.last {
					&:after {content: none;}
				}
			}
			
			h3.title {color:#33ccff;margin-top: 10px;}
			ul li { line-height: 22px;}
		}
	 }
}
.search-footer { float: left; margin-left: 10px; margin-top: 10px;
	input {@include border-radius(4px); height: 33px; line-height: 33px\9;padding-left: 10px; padding-right: 7px; width:200px;float: left; border:none; position: relative;}
	.search-button { height: 33px; line-height: 33px; background: url(../images/search-button.png) no-repeat center center #000; border: none; text-indent: -99999px; width:50px; @include border-radius(4px); margin-left: -5px;}
	p.copyright {display: block; margin-top: 23px; float: left;}
}
/* Overview page */
.overview .full-inner{margin-bottom: 5px}
.overview-banner {background: url(../images/o-banner.jpg) no-repeat 0 0;}
.overview996 {
	.image {overflow-y:auto;height: 300px;}
}
/* History page */
.history-banner {background-image: url(../images/h-banner.jpg); margin-bottom: 0}
.history-note { background: #fff;margin-top: 20px;
	.inner {height: 100%;
		.text {text-align: justify; padding:40px 10px;
			h1 { padding-bottom: 20px;}
			p {line-height: 19px;}
		}
	}
}
.history .full-inner {margin-bottom: 10px}
.history-box { 
	.image {position: relative;}
	.text {
		h1.history-title {font-weight: normal; margin-bottom: 18px; line-height: 30px;}
		&:after {display: block; background: $blue; width:89px; height: 3px; content:"";
		 position: absolute; bottom:30px; left: 10px;}
	}
}
.history-box.box2014 { 
	.text:after {background-color: #b69558;}
} 
.history-box.box2013 { 
	.text:after {background-color: #fbcb38;}
}
.history-box.box2011 {
	.image {margin-top: 45px;}
}
.history-box.box2010 {
	.text {
		&:after {background-color: #4f2b1c;}
	}
}
.history-box.box2009 {
	.text:after {background-color: $blue1;}
}
.history-box.box-last { background: #034988;@extend .clearfix;
	margin-bottom: 40px; position: relative;
	.box-year { padding:15px 0 5px 20px;
		h1 { color:#fff; font-weight: normal; font-family: $IrisAzo;font-size: 18px;
			span {color:#0099ff}
		}
	}
	.text { width:100%; background: #034988; color:#fff; height: 100%; padding-top: 10px;
		&:after {background: #999999; }
		h2 {font:normal 13px $Arial;}
		h1 {color:#00aeef;font-weight: normal; font-family: $IrisAzo;}
	}
}
/* Brands pages */
.brand-banner {background:url(../images/brand-banner.jpg) no-repeat right 0;}	
.brand-logo { margin-bottom: 15px;
	img {max-width: 204px;}
}
/* Product page */
.product-banner {background: url(../images/product-banner.jpg) no-repeat right 0;}
.product-box {
	.other {@include box-sizing(border-box);width: 100%;
			padding-right: 20px;
		a.button {float: left;}
		.product-logo {max-width: 150px;}
	}
}
.brand .top-footer, .product .top-footer {margin-top: 45px;}
/* Product Detail 1*/
.detail-banner {
	img {
		max-width: none;
	}
}
.detail-wrapper {
	padding:20px; background: #fff; position: relative; z-index: 1;}
.breadcrumb {@extend .clearfix;margin-bottom: 20px;
	li{float: left; border-right:1px solid #333; margin-right: 5px; padding-right: 5px; font-size: 14px;
		&:last-child{border: none;}
	}
}
.color-line {width:151px; height: 3px; vertical-align: top;}
.catalog {
	a{font-size: 14px;}
	img {border: 1px solid #bbb; margin-bottom: 20px;}
	h3{margin-bottom: 5px;}
}
.content-detail {
	.sidebar{width:152px; margin-bottom: 30px;}
	.col-left, .col-right {margin-bottom: 20px;}
	h1.title {margin-bottom: 20px; }
	h3 { font-size: 16px; padding-bottom: 5px;}
	h2 {font-size: 20px; margin-bottom: 20px; margin-top: 10px;}
	p {margin-bottom: 20px; font-size: 14px; line-height: 19px;}
	.right-content {
		img {width: 100%;}
	}
}
.share { float: right; @extend .clearfix; margin-right: 60px; width: 300px; margin-top: 40px;
	.title{font-size: 14px; margin-right: 16px; float: left; line-height: 28px;}
	li{float: left; margin-right: 15px; 
		img{width: 28px; vertical-align: middle;}
		&:last-child{margin-right: 0;}
	}
}
/* News Detail */
.related-news {
	margin-top: 30px;
}
/* News new */
.news {margin-top:60px; }
.top-nmenu { position: relative;z-index: 1; @extend .clearfix; margin-bottom: 10px;
	h1 {display: block; border-bottom: 3px solid #999;padding-bottom: 15px; }
}
.nmenu {float: right; margin-right: 10px; margin-top: 20px; width: 80%;
	li {
		a {background: #fff; display: block; padding:6px 10px 6px 22px;
			&:hover {background: #666; color: #fff;}
		}
		.sub-menu {position: absolute; left:0; top:100%; width: 100%; display: none; z-index: 9;}
	}
	>li { display: block;position: relative; margin-bottom: 10px; 
		&:hover {
			.sub-menu {display: block;}
		}
		>a {overflow: hidden;}
		>i {float: right; cursor: pointer; background: url(../images/arr-down.png) no-repeat center center;
			width: 35px; height: 28px; display: inline-block;
		}
	} 
}
.flat-news { margin-bottom: 50px;
	.col { margin-bottom: 35px;
	 @include box-sizing(border-box);position: relative;
		.inner-news {position: relative;}
		img {width: 100%; }
		.caption {width: 100%; padding-left: 22px;z-index: 2;
			position: absolute;bottom:-23px; left:0px; right:0;@include box-sizing(border-box);
			.caption-inner {background: #fff; padding:10px 15px 17px 14px;}
			i[class^="icon"] {background: url(../images/icon-n.png) no-repeat 0 0; display: inline-block; width: 24px;
			 height:21px; vertical-align: middle; padding-right: 3px; }
			h3.cat {margin-bottom: 14px; font-size: 11px; 
				text-transform: uppercase; font-weight: normal; 
				font-family: $Arial;}
			p {font:16px/20px $IrisAzoBold; }
			p.hover-display {font:14px $IrisAzo normal;  height: 0px; display: block; 
				overflow: hidden;
				 -webkit-transition: all 0.6s ease;
				-moz-transition: all 0.6s ease;
				-o-transition: all 0.6s ease;
				transition: all 0.6s ease;
				span.divider {width: 50px;height: 1px;display: block;margin-bottom: 5px;
					background-color: #363636;margin-top: 12px;}
				span.date {color: #7b7b7b;line-height: 20px; }
				a.readmore {color: #2182b9; font-weight: bold; display: block; line-height: 17px;
					margin-top: 7px;
				}
			}
			&:after {content: ""; display: block; width: 100%; height: 3px;}
			i.icon-cty {background-position: 0 -55px;}
			i.icon-sp1 {background-position: 0 -100px;}
			&:hover {
				p.hover-display {height: 63px;}
			}
		}
	}
	.smallnews {
		.caption  {
			.caption-inner  {padding-right: 5px;}
		}
	}
}
.images-lib {max-width: 944px; margin-bottom: 60px;
	.flexslider {
		.slides {
			li {
				.flex-caption { color: #333;
					width: 100%; height: auto; background: #fff; padding:15px 30px; 
					position: static;font-size: 13px;
					p {margin:0;}
				}
			}
		}
	} 
}
#carousel {background-color: #666666; padding:17px; position: relative; overflow: hidden;
	box-sizing: border-box; 
	&:after {position: absolute; content: ""; background-color: #005aab; height: 2px; width: 220px;
		bottom:-2px; left:50%; margin-left: -110px;
	}
	li {float: left;margin:0 10px; 
		img {width: 132px; height: 85px;
		}
		&.flex-active-slide {
			img {border:2px solid #005baa;width: 128px; height: 81px; }
			
		}
	}
}
.video-detail {max-width: 944px; margin-bottom: 60px;
	h3.title {font-size: 16px;  margin-top: 15px; margin-left: 30px;}
}
/* mobile */
#open-menu {
    background: url("../images/menu-icon.png") no-repeat scroll center center #f1f1f1;
    border-right: 2px solid #d3d4d6;
    cursor: pointer;
    display: inline-block;
    height: 51px;
    position: fixed;
    top: 0;
    width: 51px;
    z-index: 1001;transition-duration: 0.6s;
}
.sidr {transition-duration: 0.6s;
	width: 268px;
	position: absolute;
	position: fixed;
	top: 0;left:0;
	height: 100%;
	z-index: 999999;
	overflow-x: none;
	overflow-y: auto;
	font-size: 15px;
	background: #FFFFFF;
	color: #333;
	-webkit-box-shadow: inset 0 0 5px 5px #ebebeb;
	-moz-box-shadow: inset 0 0 5px 5px #ebebeb;
	box-shadow: inset 0 0 5px 5px #ebebeb;
	-ms-transform: translate3d(-268px, 0px, 0px);
    	-webkit-transform: translate3d(-268px, 0px, 0px);transform: translate3d(-268px, 0px, 0px);
	&.open {
		display: block;
	}
	ul {
		display: block;
		margin: 0 0 15px;
		padding: 0;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #fff;
		li {position: relative;
			display: block;
			margin: 0;
			line-height: 48px;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #dfdfdf;
			a {
				padding: 0 15px;
				display: block;
				text-decoration: none;
				color: #333;
			}
			i {
				width: 24px;
				height: 24px;
				padding: 12px 20px;
				position: absolute;
				right: 0;
				top: 0;
				cursor: pointer;
				&.menu-arrow-side {background: url('../images/mobile-arrow-side-icon.png') no-repeat center;}
				&.menu-arrow {background: url('../images/mobile-arrow-icon.png') no-repeat center;}
			}
			ul {
				display: none;border-bottom: none;margin: 0;
				li {line-height: 40px;font-size: 13px;
					a {color: rgba(51, 51, 51, 0.8);
						padding-left: 30px;
						padding-right: 50px;
						background: #f2f2f2;
					}
					&:last-child {border-bottom: none;}
				}
			}
		}
	}
}
.transform-right {-ms-transform: translate3d(268px, 0px, 0px);
    	-webkit-transform: translate3d(268px, 0px, 0px);transform: translate3d(268px, 0px, 0px);}
.transform-left {-ms-transform: translate3d(0, 0px, 0px);
    	-webkit-transform: translate3d(0, 0px, 0px);transform: translate3d(0, 0px, 0px);}
body.position {position: fixed;}